:root{
	--bg:#F0F7DA;
	--fg:#1f192f;
	--primary:#2d6073;
	--accent:#65b8a6;
	--accent-light:#B5E8C3;
}
body{margin:0;font-family:'JetBrains Mono', Questrial, 'Helvetica World', system-ui, -apple-system, Arial;background:var(--bg);color:var(--fg)}
